@import "tailwindcss";
@import "tw-animate-css";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-sans: 'Figtree', sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Menu close button hide */
.menu-sheet-hide-close button[data-slot="sheet-close"]:has(.sr-only) {
  display: none;
}