@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-figtree);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-sans: 'Figtree', sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Menu close button hide */
.menu-sheet-hide-close button[data-slot="sheet-close"]:has(.sr-only) {
  display: none;
}


/** Custom Container **/
@layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 0.6rem;
    width: 100%;
  }

  @media (min-width: 500px) {
    .container {
      padding-inline: 1.5rem;
    }
  }

  @media (min-width: 640px) {
    .container {
      padding-inline: 1.5rem;
    }
  }

  @media (min-width: 1024px) {
    .container {
      padding-inline: 2rem;
      max-width: 100%;
    }
  }

  @media (min-width: 1240px) {
    .container {
      max-width: 1240px;
    }
  }

  @media (min-width: 1540px) {
    .container {
      max-width: 1440px;
    }
  }
}


/* custom scrollbar */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f0f0f0;
  
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-thumb {
      background-image: linear-gradient(325deg, #049cff 0%, #35ee7a 100%);
  border-radius: 20px;
}

/* Specification CSS */
.specification_content_wrapper ul{
  list-style: unset;
  padding-left: 20px;
}
.specification_content_wrapper ul>li{
  color: #b2b2b2;
  text-align: left;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 20px;
}
.specification_content_wrapper p{
  color: #b2b2b2;
  text-align: left;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
}

/* Hide browser cursor only where needed */
.hidden-cursor {
  cursor: none;
}

@media (max-width: 1023px) {
  .hidden-cursor {
    cursor: auto;
  }
}
